################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/Persons2/Persons2.Android/bin/Debug
/Persons2/Persons2.Android/obj
/Persons2/Persons2.iOS/obj
/Persons2/Persons2.UWP/obj
